atomicwrites==1.4.0
attrs==20.2.0
certifi==2020.6.20
cffi==1.14.3
click==7.1.2
colorama==0.4.4
cryptography==3.2
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
more-itertools==8.5.0
numpy==1.19.2
packaging==20.4
pip-tools==5.3.1
pluggy==1.0.0.dev0
py==1.9.0
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==3.0.0a2
pytest==6.1.1
pytest-rerunfailures==9.1.1
selenium==4.0.0a6.post2
six==1.15.0
toml==0.10.1
urllib3==1.25.11
wcwidth==0.2.5
zipp==3.4.0

elizabeth~=0.0.2
Faker~=4.14.2